/*
Title: EdTech Academy Media Queries
Author: Lucas Horton
*/

/** Phones **/
@media (max-width: 768px){

}

/** Tablets **/
@media (min-width: 768px) {

}

/** Desktops **/
@media (min-width: 992px) {

}

/** Large desktops **/
@media (min-width: 1200px) {

}