/*
Title: EdTech Academy Stylesheet
Author: Lucas Horton
 */

/** Body **/
body {
    font-family: 'Comic Sans MS', sans-serif;
    color: white;
    background-color: black;
}

h2 {
    font-size: 48px;
    text-align: center;
}

/** Header **/

header {
    text-align: center;
}

.logo {
    width: 320px;
}

.login {
    text-align: center;
}

/** Navigation **/
nav ul {
    text-align: center;
}

nav ul > li a {
    color: red;
}

/** Hero **/
#hero {
    text-align: center;
    background-color: orange;
}

.hero-title {
    font-size: 50pt;
    color: red;
}

#hero p {
    font-size: 24pt;
}

.call-to-action:hover {
    color: red;
}

/** Courses **/
.courses {
    color: orange;
}

.course-title {
    color: red;
}

.tagline {
    color: darkgray;
}

/** Footer **/
footer {
    color: white;
    background-color: darkgray;
}

/** Utility Classes **/
