/*
Title: EdTech Academy Stylesheet
Author: Lucas Horton
 */

/** Fonts **/
@import url(http://fonts.googleapis.com/css?family=Lato:700,400,300|Bitter:400,700);

/** Body **/
body {
    font-family: Lato, Verdana, sans-serif;
    font-size: 62.5%;
    line-height: 1.4;
    color: #e0e0e0;
    background-color: #38435e;
}

/** Defaults **/
a {
    -webkit-transition: color .5s;
            transition: color .5s;
    text-decoration: none;
    color: #f59e03;
}

a:hover {
    text-decoration: none;
    color: #eb540a;
}


h2 {
    font-family: Bitter, Georgia, 'Times New Roman', serif;
    font-size: 3em;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

/** Header **/
.logo {
    display: block;
    width: 320px;
    margin: 90px auto 60px auto;
}

.login {
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: .5em 0;
    text-align: right;
    color: #e0e0e0;
    background-color: #222;
}

/** Navigation **/
nav ul {
    width: 960px;
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #fff;
}

nav ul > li {
    font-size: 1.8em;
    font-weight: 300;
    display: inline-block;
    padding: 0 2em;
}

nav ul > li a {
    text-transform: uppercase;
    color: #e0e0e0;
}

/** Hero **/
#hero {
    width: 100%;
    text-align: center;
    background: url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
}

#hero-inner {
    padding: 150px 0;
}

.hero-title {
    font-family: Bitter, Georgia, 'Times New Roman', serif;
    font-size: 5em;
    font-weight: bold;
    margin: 0 100px;
    color: #e0e0e0;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}

#hero p {
    font-size: 2em;
    margin: 20px 200px 0 200px;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}

.call-to-action {
    display: block;
    margin: 30px 100px 0;
    padding: .5em 1em;
    -webkit-transition: background-color .5s;
            transition: background-color .5s;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #6bb26b;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.8);
            box-shadow: 1px 1px 3px rgba(0,0,0,.8);
    text-shadow: none;
}

.call-to-action:hover {
    color: #fff;
    background-color: #528652;
}

/** Courses **/
.courses {
    padding: 60px 0;
    color: #38435e;
    background-color: #fff;
}

.course {
    position: relative;
    height: 200px;
    background-color: #333;
}

.course-title {
    font-size: 1.8em;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 20px;
    color: #f59e03;
    background-color: #222;
    background-color: rgba(34,34,34,.8);
}

.tagline {
    font-size: .8em;
    padding-top: .5em;
    color: #e0e0e0;
}

.survey {
    background: url(../img/survey.jpg) no-repeat center center;
}

.business {
    background: url(../img/business.jpg) no-repeat center center;
}

.games {
    background: url(../img/games.jpg) no-repeat center center;
}

/** Footer **/
footer {
    font-size: 1.4em;
    padding: 30px 0;
    color: #e0e0e0;
    background-color: #222;
}

/** Utility Classes **/
.wrap {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.left {
    float: left;
    width: 300px;
}

.center {
    float: left;
    width: 300px;
    margin-left: 30px;
}

.right {
    float: right;
    width: 300px;
}
